@using FineBlog.Models.ViewModels;
@model RegisterVM

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Register User";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Blog</title>

    <!-- Custom fonts for this template-->
    <link href="~/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/dashboard/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">

</head>
<body>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <a class="btn btn-primary mb-1" asp-action="Login" asp-controller="User">Go Back</a>
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 class="card-title text-white">Register User</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="Register" asp-controller="User">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-2">
                                <label>First Name</label>
                                <input type="text" asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label>Last Name</label>
                                <input type="text" asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label>Email</label>
                                <input type="email" asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label>Username</label>
                                <input type="text" asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <label>Password</label>
                                <input type="password" asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <button type="submit" class="btn btn-primary w-100">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="~/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/dashboard/js/sb-admin-2.min.js"></script>
    @await Component.InvokeAsync("Notyf")
</body>

</html>
@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@