@using FineBlog.Models.ViewModels;
@model ResetPasswordVM

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Password Reset</h4>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <form asp-action="ResetPassword" asp-controller="User">
                <div class="mb-2">
                    <label>Username</label>
                    <input type="text" asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>New Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirm Password</label>
                    <input type="password" asp-for="ConfirmPasswor" class="form-control" />
                    <span asp-validation-for="ConfirmPasswor" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    @{
                        if (Model.ThumbnailUrl == null)
                        {
                            <img src="~/thumbnails/default_image.png" class="img-fluid" id="thumbnail" />
                        }

                        else
                        {
                            <img src="~/thumbnails/@Model.ThumbnailUrl" class="img-fluid" id="thumbnail" />

                        }
                    }
                </div>
                <div class="mb-2">
                    <label>Thumbnail</label>
                    <input type="file" asp-for="ThumbnailUrl" class="custom-file" />
                </div>

                <div class="container">
                    <div class="row">
                        <button type="submit" class="btn btn-primary w-100">Reset password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

